package/*.tar.bz2
.yardoc
Makefile
Makefile.am
Makefile.am.common
Makefile.in
POTFILES
aclocal.m4
autodocs-cc-base.ami
autodocs-cc-off.ami
autodocs-cc.ami
autodocs-ycp.ami
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
control/firstboot.glade
doc/*.html
doc/css
doc/html/
doc/js
install-sh
missing
pluglib-bindings.ami
*.pot
coverage/
coverage
